<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="{{ asset('ForumNavbar/Main.css') }}"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<title>Al3eb</title>
		<style>
			/* CSS styles for post list */
			#post-list {
				text-align: center;
				color: #fff;
				padding: 20px;
			}

			.post-container {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			.post {
				margin-bottom: 20px;
				padding: 20px;
				background-color: #fff;
				border-radius: 10px;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
				width: 80%;
				max-width: 600px;
			}

			.header {
				font-family: Josefin Sans;
				margin-bottom: 10px;
			}

			.user {
				font-size: 20px;
				color: black;
			}

			.content {
				font-family: Inconsolata;
				color: #333;
				margin-bottom: 10px;
			}

			.actions {
				margin-top: 10px;
			}

			.details {
				color: red;
				text-decoration: none;
			}

			.add-post {
				color: #fff;
				background-color: red;
				padding: 10px 20px;
				border-radius: 5px;
				text-decoration: none;
				margin-top: 20px;
			}
		</style>


	</head>
	<body>
		<header>
			<div class="navbar">
				<div class="logo">
					<a href="{{ path('front')}}">Al3eb</a>

				</div>
				<ul class="links">
					<li>
						<a href="#">Home</a>
					</li>
					<li>
						<a href="#">Forum Guidelines</a>
					</li>
					<li>
						<a href="#">Services</a>
					</li>
					<li>
						<a href="#">FAQ</a>
					</li>
				</ul>
				<a href="#" class="action_btn">Get started</a>
				<div class="toggle_btn">
					<i class="fa-solid fa-bars"></i>
				</div>
			</div>
			<div class="dropdown_menu">
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Forum Guidelines</a>
				</li>
				<li>
					<a href="#">Services</a>
				</li>
				<li>
					<a href="#">FAQ</a>
				</li>
				<li>
					<a href="#" class="action_btn">Get started</a>
				</li>
			</div>
		</header>
		<main>
			<section id="post-list">
				<h1>List of Posts for
					{{ threadTitle }}
					Thread</h1>

				{% if pagination.totalItemCount == 0 %}
					<p>No posts found.</p>
				{% else %}
					<div class="post-container">
						{% for post in pagination %}
							<div class="post">
								<div class="header">
									<span class="user">{{ post.user.username }}</span>
								</div>
								<div class="content">
									<p>{{ post.contentPost }}</p>
									<p>{{ post.creationDatePost }}</p>
								</div>
								<div class="actions">
									<a href="#" class="comment">Comment</a>
								</div>
							</div>
						{% endfor %}
					</div>

					<div class="pagination" style='padding: 10px; background-color: red; color: #fff; border: none; border-radius: 4px; cursor: pointer; text-align: center;'>

						{{ knp_pagination_render(pagination) }}
					</div>
				{% endif %}

				<a href="{{ path('addpostbyform', {'threadId': threadId}) }}" class="add-post">Add Post</a>
			</section>
		</main>


		<script>
			const toggleBtn = document.querySelector(".toggle_btn");
const toggleBtnIcon = document.querySelector(".toggle_btn i");
const dropDownMenu = document.querySelector(".dropdown_menu");

toggleBtn.onclick = function () {
dropDownMenu.classList.toggle("open");
const isOpen = dropDownMenu.classList.contains("open");

toggleBtnIcon.classList = isOpen ? "fa-solid fa-xmark" : "fa-solid fa-bars";
};
		</script>

	</body>
</html>
